* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
}

ul {
    display: flex;
    height: 80px;
    background-image: linear-gradient(rgb(17, 17, 66), rgb(83, 77, 77));
    align-items: center;
    gap: 80px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 15px;
}

input {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px; 
}

@media screen and (max-width:768px) {
    a {
        font-size: 1rem;
        margin-left: 20px;
    }
    ul{
        background-image: linear-gradient(rgb(2, 30, 77),rgb(115, 7, 92));
        height: 150px;
        flex-direction: column;
        gap: 10px;
        align-items: first baseline;
    }
    input{
        padding: 3px;
    }
}